<%= form_with(model: schmo, local: true) do |form| %>
  <% if schmo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schmo.errors.count, "error") %> prohibited this schmo from being saved:</h2>

      <ul>
      <% schmo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :schmo_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :schmo_address %>
  </div>

  <div class="field">
    <%= form.label :ph %>
    <%= form.text_field :ph, id: :schmo_ph %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :schmo_email %>
  </div>

  <div class="field">
    <%= form.label :balance %>
    <%= form.text_field :balance, id: :schmo_balance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
